.form-control {
    display: block;

    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out}

h1{
    text-align: center;
}
.user-creation-form, .login-form{
        padding: 25px 0;
        align-items: stretch;
    text-align: center;
    align-content: center;
    display: grid;
    justify-content: space-around;
    justify-items: center;
}


.btn {
    font-size: 25px;
    border: 1px black solid;
}


#id_todo_name_short {
    width: 400px;
    height: 100px;
}

#todo-table, td, th{
    border-collapse: collapse;
    border: 1px black solid;
    text-align: center;
    position: relative;

}

th{
    padding:10px 20px;
}

.fa-solid{
    margin:0 20px;
}

.header-container{
    margin-left: 30px;
     display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    align-content: center;
    flex-wrap: nowrap;
}
.logout{
    margin-left: 100px;
}

#addform, #editform{
    width: 400px;
}

tr.completed td:nth-child(-n+5):before{

}

.task-description{
    display: flex;
}

.completed {!important;

    text-decoration: line-through;
    color:green;

}
.show-descr{
    display: table-cell;
}
.no-show-descr{
    display: none; !important;
}