{% extends 'base.html' %}
{% load static %}
{% block content %}
    <h1>{{ title }}</h1>


    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">

             <div class="row">

                <form method="post" class="login-form">
                    {% csrf_token %}

                    <div class="form-error">{{ form.non_field_errors }}</div>

                    {% for f in form %}
                        <p><label class="col-form-label"
                                  for="{{ f.id_for_label }}">{{ f.label }}: </label>{{ f }}</p>
                        <div class="form-error">{{ f.errors }}</div>
                    {% endfor %}

                    <button type="submit" class="btn btn-facebook btn-user btn-block">Войти</button>
                  <br>
                    <a href="{%  url 'register' %}" class="btn btn-facebook btn-user btn-block"> Зарегистрироваться </a>
{#                   <input type="button" class="btn btn-facebook btn-user btn-block" src="{% url 'register' %}" value="Зарегистрироваться">#}
                </form>
            </div>
        </div>
    </div>
{% endblock %}
